@use "variables" as *;

.home {
  background-image: url("/linseed.jpg");
  background-size: cover;
  height: calc(100vh - $spacing-s * 2);
  border-radius: $spacing-s;
}

.hero-content-wrapper {
  height: $hero-content-height;
  border-radius: $spacing-s;
  overflow: hidden;
}

.section {
  padding: $spacing-s;
  margin: $spacing-s;
  border-radius: $spacing-s;
}
