@use "variables" as *;

.home {
  background-image: url("/oil.jpg");
  background-size: cover;
  height: calc(100vh - $spacing-s * 2);
  border-radius: $radius-m;
}

.hero-content-wrapper {
  height: calc(100% - $navbar-height - $spacing-s);
  border-radius: $radius-m;
  margin-top: calc($navbar-height + $spacing-s);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: $spacing-m;
}

.section {
  padding: $spacing-s;
  margin: $spacing-s;
  border-radius: $radius-m;
  overflow: hidden;
}

.home-left {
  width: 100%;
  height: 100%;
  font-size: 10rem;
  color: white;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: left;

  grid-column-start: 1;
  grid-column-end: 3;
}

.home-right {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
  grid-column-start: 3;
  grid-column-end: 6;
}
