@use "variables" as *;

.navbar-wrapper {
  position: fixed;
  width: calc(100% - $spacing-m * 2);
  margin: $spacing-s $spacing-m $spacing-m $spacing-m;
}

.navbar {
  padding: $spacing-s;
  height: $navbar-height;
  width: 100%;
  background-color: white;
  border-radius: $spacing-s;
}
